@import '../base';

////
/// @group objects/layout
////

/// Width container mixin
///
/// Used to create page width and custom width container classes.
///
/// @param {String} $width [$govie-page-width] - Width in pixels
///
/// @example scss - Creating a 1200px wide container class
///  .app-width-container--wide {
///    @include govie-width-container(1200px);
///  }
///
/// @access public

@mixin govie-width-container($width: $govie-page-width) {
  // By default, limit the width of the container to the page width
  max-width: $width;

  // On mobile, add half width gutters
  margin-right: $govie-gutter-half;
  margin-left: $govie-gutter-half;

  // Respect 'display cutout' safe area (avoids notches and rounded corners)
  @supports (margin: unquote('max(calc(0px))')) {
    $gutter-safe-area-right: calc(
      #{$govie-gutter-half} + env(safe-area-inset-right)
    );
    $gutter-safe-area-left: calc(
      #{$govie-gutter-half} + env(safe-area-inset-left)
    );

    // Use max() to pick largest margin, default or with safe area
    // Escaped due to Sass max() vs. CSS native max()
    margin-right: unquote(
      'max(#{$govie-gutter-half}, #{$gutter-safe-area-right})'
    );
    margin-left: unquote(
      'max(#{$govie-gutter-half}, #{$gutter-safe-area-left})'
    );
  }

  // On tablet, add full width gutters
  @include govie-media-query($from: tablet) {
    margin-right: $govie-gutter;
    margin-left: $govie-gutter;

    // Respect 'display cutout' safe area (avoids notches and rounded corners)
    @supports (margin: unquote('max(calc(0px))')) {
      $gutter-safe-area-right: calc(
        #{$govie-gutter-half} + env(safe-area-inset-right)
      );
      $gutter-safe-area-left: calc(
        #{$govie-gutter-half} + env(safe-area-inset-left)
      );

      // Use max() to pick largest margin, default or with safe area
      // Escaped due to Sass max() vs. CSS native max()
      margin-right: unquote(
        'max(#{$govie-gutter}, #{$gutter-safe-area-right})'
      );
      margin-left: unquote('max(#{$govie-gutter}, #{$gutter-safe-area-left})');
    }
  }

  // As soon as the viewport is greater than the width of the page plus the
  // gutters, just centre the content instead of adding gutters.
  @include govie-media-query(
    $and: '(min-width: #{($width + $govie-gutter * 2)})'
  ) {
    margin-right: auto;
    margin-left: auto;

    // Since a safe area may have previously been set above,
    // we need to duplicate this margin that centers the page.
    @supports (margin: unquote('max(calc(0px))')) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  @include govie-if-ie8 {
    width: $width;
    // Since media queries are not supported in IE8,
    // we need to duplicate this margin that centers the page.
    margin-right: auto;
    margin-left: auto;
  }
}

@include govie-exports('govie/objects/width-container') {
  .govie-width-container {
    @include govie-width-container;
  }
}
