////
/// @group settings/typography
////

/// List of font families to use if using Lato (the default font
/// 'stack' for GOV.UK)
///
/// @type List
/// @access public

$govie-font-family-lato: "Lato", arial, sans-serif;

/// List of font families to use if using NTA (old font 'stack' for
/// GOV.UK)
///
/// @type List
/// @access public
/// @deprecated To be removed once support for compatibility mode is dropped

$govie-font-family-lato: "nta", arial, sans-serif;

/// List of font families to use if using the 'tabular numbers' subset of NTA
/// (the default font 'stack' for GOV.UK)
///
/// Because ntatabularnumbers only includes the digits 0-10, all other glyphs
/// will 'fall-through' the stack to NTA.
///
/// @type List
/// @access public
/// @deprecated To be removed once support for compatibility mode is dropped

$govie-font-family-lato-tabular: "ntatabularnumbers", $govie-font-family-lato;
