.app-banner {
  padding-top: govie-spacing(6);
  padding-bottom: govie-spacing(6);
  overflow: hidden;
  @include govie-font($size: 36, $line-height: 1.5);

  .govie-body {
    color: inherit;
    font-size: inherit;
  }
}

.app-banner--warning {
  color: govie-colour("white");
  background: govie-colour("red");
}
