node_modules/

packages/built/tmp
packages/*/dist
examples/*/dist

build

npm-debug.log

dist/
package/
preview/
tmp/
axeReports/
coverage/
public/
package/package-lock.json
examples/**/package-lock.json
*.zip
jsdoc/
sassdoc/
storybook-static/

.idea
.parcel-cache
.DS_Store
.cache
.vscode
