{% from "back-link/macro.njk" import govukBackLink %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govie-grid-row">
    <div class="govie-grid-column-two-thirds">

      <h1 class="govie-heading-xl">
        Details polyfill examples
      </h1>

      <p class="govie-body">
        In order to test our polyfill code for details we need to have examples that do not use the native elements.
      </p>


      <h2 class="govie-heading-m">
        Default
      </h2>

      <div class="govie-details" data-module="govie-details" id="default">
        <summary class="govie-details__summary">
          <span class="govie-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govie-details__text">
          We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
        </div>
      </div>

      <h2 class="govie-heading-m">
        Expanded
      </h2>

      <div class="govie-details" data-module="govie-details" open id="expanded">
        <summary class="govie-details__summary">
          <span class="govie-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govie-details__text">
          We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
        </div>
      </div>

    </div>
  </div>
{% endblock %}
