@import "../error-message/index";
@import "../fieldset/index";
@import "../hint/index";
@import "../label/index";

@include govie-exports("govie/component/radios") {

  $govie-touch-target-size: 44px;
  $govie-radios-size: 40px;
  $govie-small-radios-size: 24px;
  $govie-medium-radios-size: 30px;
  $govie-radios-label-padding-left-right: govie-spacing(3);
  // When the default focus width is used on a curved edge it looks visually smaller.
  // So for the circular radios we bump the default to make it look visually consistent.
  $govie-radios-focus-width: $govie-focus-width + 1px;

  .govie-radios__item {
    @include govie-font($size: 19);

    display: block;
    position: relative;

    min-height: $govie-radios-size;

    margin-bottom: govie-spacing(2);
    padding-left: $govie-radios-size;

    clear: left;
  }

  .govie-radios__item:last-child,
  .govie-radios__item:last-of-type {
    margin-bottom: 0;
  }

  .govie-radios__input {
    $input-offset: ($govie-touch-target-size - $govie-radios-size) / 2;

    cursor: pointer;

    // IE8 doesn’t support pseudo-elements, so we don’t want to hide native
    // elements there.
    @include govie-not-ie8 {
      position: absolute;

      z-index: 1;
      top: $input-offset * -1;
      left: $input-offset * -1;

      width: $govie-touch-target-size;
      height: $govie-touch-target-size;
      margin: 0;

      opacity: 0;
    }

    @include govie-if-ie8 {
      margin-top: 10px;
      margin-right: $govie-radios-size / -2;
      margin-left: $govie-radios-size / -2;
      float: left;

      // add focus outline to input
      &:focus {
        outline: $govie-focus-width solid $govie-focus-colour;
      }
    }
  }

  .govie-radios__label {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px $govie-radios-label-padding-left-right govie-spacing(1);
    cursor: pointer;
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
        touch-action: manipulation;
  }

  // ( ) Radio ring
  .govie-radios__label:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    width: $govie-radios-size;
    height: $govie-radios-size;

    border: $govie-border-width-form-element solid currentcolor;
    border-radius: 50%;
    background: transparent;
  }

  //  •  Radio button
  //
  // We create the 'button' entirely out of 'border' so that they remain
  // 'filled' even when colours are overridden in the browser.
  .govie-radios__label:after {
    content: "";

    position: absolute;
    top: govie-spacing(2);
    left: govie-spacing(2);

    width: 0;
    height: 0;

    border: govie-spacing(2) solid currentcolor;
    border-radius: 50%;
    opacity: 0;
    background: currentcolor;
  }

  .govie-radios__hint {
    display: block;
    padding-right: $govie-radios-label-padding-left-right;
    padding-left: $govie-radios-label-padding-left-right;
  }

  // Focused state
  .govie-radios__input:focus + .govie-radios__label:before {
    border-width: 4px;

    // When colours are overridden, the yellow box-shadow becomes invisible
    // which means the focus state is less obvious. By adding a transparent
    // outline, which becomes solid (text-coloured) in that context, we ensure
    // the focus remains clearly visible.
    outline: $govie-focus-width solid transparent;
    outline-offset: 1px;

    // When in an explicit forced-color mode, we can use the Highlight system
    // color for the outline to better match focus states of native controls
    @media screen and (forced-colors: active), (-ms-high-contrast: active) {
      outline-color: Highlight;
    }

    box-shadow: 0 0 0 $govie-radios-focus-width $govie-focus-colour;
  }

  // Selected state
  .govie-radios__input:checked + .govie-radios__label:after {
    opacity: 1;
  }

  // Disabled state
  .govie-radios__input:disabled,
  .govie-radios__input:disabled + .govie-radios__label {
    cursor: default;
  }

  .govie-radios__input:disabled + .govie-radios__label,
  .govie-radios__input:disabled ~ .govie-hint {
    opacity: .5;
  }

  // =========================================================
  // Inline radios
  // =========================================================

  .govie-radios--inline {
    @include govie-media-query ($from: tablet) {
      @include govie-clearfix;

      .govie-radios__item {
        margin-right: govie-spacing(4);
        float: left;
        clear: none;
      }
    }
  }

  // =========================================================
  // Dividers ('or')
  // =========================================================

  .govie-radios__divider {
    $govie-divider-size: $govie-radios-size !default;
    @include govie-font($size: 19);
    @include govie-text-colour;
    width: $govie-divider-size;
    margin-bottom: govie-spacing(2);
    text-align: center;
  }

  // =========================================================
  // Conditional reveals
  // =========================================================

  // The narrow border is used in the conditional reveals because the border has
  // to be an even number in order to be centred under the 40px checkbox or radio.
  $conditional-border-width: $govie-border-width-narrow;
  // Calculate the amount of padding needed to keep the border centered against the radios.
  $conditional-border-padding: ($govie-radios-size / 2) - ($conditional-border-width / 2);
  // Move the border centered with the radios
  $conditional-margin-left: $conditional-border-padding;
  // Move the contents of the conditional inline with the label
  $conditional-padding-left: $conditional-border-padding + $govie-radios-label-padding-left-right;

  .govie-radios__conditional {
    @include govie-responsive-margin(4, "bottom");
    margin-left: $conditional-margin-left;
    padding-left: $conditional-padding-left;
    border-left: $conditional-border-width solid $govie-border-colour;

    .js-enabled &--hidden {
      display: none;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }


  // =====MEDIUM=====
  // ================

  .govie-radios-medium__item {
    @include govie-font($size: 19);

    display: block;
    position: relative;

    min-height: $govie-medium-radios-size;

    margin-bottom: govie-spacing(2);
    padding-left: $govie-medium-radios-size;

    clear: left;
  }

  .govie-radios-medium__item:last-child,
  .govie-radios-medium__item:last-of-type {
    margin-bottom: 0;
  }

  .govie-radios-medium__input {
    $input-offset: (
      $govie-touch-target-size - $govie-medium-radios-size) / 2;

    cursor: pointer;

    // IE8 doesn’t support pseudo-elements, so we don’t want to hide native
    // elements there.
    @include govie-not-ie8 {
      position: absolute;

      z-index: 1;
      // top: $input-offset * -1; // not required now
      left: ($input-offset - 4) * -1;

      width: $govie-medium-radios-size;
      height: $govie-medium-radios-size;
      margin: 0;

      opacity: 0;
    }

    @include govie-if-ie8 {
      margin-top: 10px;
      margin-right: $govie-medium-radios-size / -2;
      margin-left: $govie-medium-radios-size / -2;
      float: left;

      // add focus outline to input
      &:focus {
        outline: $govie-focus-width solid $govie-focus-colour;
      }
    }
  }

  .govie-radios-medium__label {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px $govie-radios-label-padding-left-right govie-spacing(1
    );
  cursor: pointer;
  // remove 300ms pause on mobile
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  }

  // ( ) Radio ring
  .govie-radios-medium__label:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    width: $govie-medium-radios-size;
    height: $govie-medium-radios-size;

    border: $govie-border-width-form-element solid currentcolor;
    border-radius: 50%;
    background: transparent;
  }

  //  •  Radio button
  //
  // We create the 'button' entirely out of 'border' so that they remain
  // 'filled' even when colours are overridden in the browser.
  .govie-radios-medium__label:after {
    content: "";

    position: absolute;
    top: govie-spacing(1);
    left: govie-spacing(1);

    width: 0;
    height: 0;

    border: govie-spacing(2) solid currentcolor;
    border-radius: 50%;
    opacity: 0;
    background: currentcolor;
  }

  .govie-radios-medium__hint {
    display: block;
    padding-right: $govie-radios-label-padding-left-right;
    padding-left: $govie-radios-label-padding-left-right;
  }

  // Focused state
  .govie-radios-medium__input:focus+.govie-radios-medium__label:before {
    border-width: 4px;

    // When colours are overridden, the yellow box-shadow becomes invisible
    // which means the focus state is less obvious. By adding a transparent
    // outline, which becomes solid (text-coloured) in that context, we ensure
    // the focus remains clearly visible.
    outline: $govie-focus-width solid transparent;
    outline-offset: 1px;

    // When in an explicit forced-color mode, we can use the Highlight system
    // color for the outline to better match focus states of native controls
    @media screen and (forced-colors: active),
    (-ms-high-contrast: active) {
      outline-color: Highlight;
    }

    box-shadow: 0 0 0 $govie-radios-focus-width $govie-focus-colour;
  }

  // Selected state
  .govie-radios-medium__input:checked+.govie-radios-medium__label:after {
    opacity: 1;
  }

  // Disabled state
  .govie-radios-medium__input:disabled,
  .govie-radios-medium__input:disabled+.govie-radios-medium__label {
    cursor: default;
  }

  .govie-radios-medium__input:disabled+.govie-medium-radios__label,
  .govie-radios-medium__input:disabled~.govie-hint-medium {
    opacity: .5;
  }

  // =========================================================
  // Inline radios
  // =========================================================

  .govie-radios--inline {
    @include govie-media-query ($from: tablet) {
      @include govie-clearfix;

      .govie-radios__item {
        margin-right: govie-spacing(4);
        float: left;
        clear: none;
      }
    }
  }

  // =========================================================
  // Dividers ('or')
  // =========================================================

  .govie-radios-medium__divider {
    $govie-divider-medium-size: $govie-medium-radios-size !default;
    @include govie-font($size: 19);
    @include govie-text-colour;
    width: $govie-divider-medium-size;
    margin-bottom: govie-spacing(2);
    text-align: center;
  }

  // =========================================================
  // Conditional reveals
  // =========================================================

  // The narrow border is used in the conditional reveals because the border has
  // to be an even number in order to be centred under the 40px checkbox or radio.
  $conditional-border-width-medium: $govie-border-width-narrow;
  // Calculate the amount of padding needed to keep the border centered against the radios.
  $conditional-border-padding-medium: (
    $govie-medium-radios-size / 2) - ($conditional-border-width-medium / 2
  );
  // Move the border centered with the radios
  $conditional-margin-left-medium: $conditional-border-padding-medium;
  // Move the contents of the conditional inline with the label
  $conditional-padding-left-medium: $conditional-border-padding-medium + $govie-radios-label-padding-left-right;

  .govie-radios-medium__conditional {
    @include govie-responsive-margin(4, "bottom");
    margin-left: $conditional-margin-left-medium;
    padding-left: $conditional-padding-left-medium;
    border-left: $conditional-border-width-medium solid $govie-border-colour;

    .js-enabled &--hidden {
      display: none;
    }

    &> :last-child {
      margin-bottom: 0;
    }
  }

  // ==========END MEDIUM====

  // =========================================================
  // Small checkboxes
  // =========================================================

  .govie-radios--small {

    $input-offset: ($govie-touch-target-size - $govie-small-radios-size) / 2;
    $label-offset: $govie-touch-target-size - $input-offset;

    .govie-radios__item {
      @include govie-clearfix;
      min-height: 0;
      margin-bottom: 0;
      padding-left: $label-offset;
      float: left;
    }

    // Shift the touch target into the left margin so that the visible edge of
    // the control is aligned
    //
    //   ┆Which colour is your favourite?
    //  ┌┆───┐
    //  │┆() │ Purple
    //  └┆▲──┘
    //  ▲┆└─ Radio pseudo element, aligned with margin
    //  └─── Touch target (invisible input), shifted into the margin
    .govie-radios__input {
      @include govie-not-ie8 {
        left: $input-offset * -1;
      }

      @include govie-if-ie8 {
        margin-left: $govie-small-radios-size * -1;
      }
    }

    // Adjust the size and position of the label.
    //
    // Unlike larger radios, we also have to float the label in order to
    // 'shrink' it, preventing the hover state from kicking in across the full
    // width of the parent element.
    .govie-radios__label {
      margin-top: -2px;
      padding: 13px govie-spacing(3) 13px 1px;
      float: left;

      @include govie-media-query($from: tablet) {
        padding: 11px govie-spacing(3) 10px 1px;
      }
    }

    // ( ) Radio ring
    //
    // Reduce the size of the control [1], vertically centering it within the
    // touch target [2]
    .govie-radios__label:before {
      top: $input-offset - $govie-border-width-form-element; // 2
      width: $govie-small-radios-size; // 1
      height: $govie-small-radios-size; // 1
    }

    //  •  Radio button
    //
    // Reduce the size of the 'button' and center it within the ring
    .govie-radios__label:after {
      top: 15px;
      left: 7px;
      border-width: 5px;
    }

    // Fix position of hint with small radios
    //
    // Do not use hints with small radios – because they're within the input
    // wrapper they trigger the hover state, but clicking them doesn't actually
    // activate the control.
    //
    // (If you do use them, they won't look completely broken... but seriously,
    // don't use them)
    .govie-radios__hint {
      padding: 0;
      clear: both;
      pointer-events: none;
    }

    // Align conditional reveals with small radios
    .govie-radios__conditional {
      $margin-left: ($govie-small-radios-size / 2) - ($conditional-border-width / 2);
      margin-left: $margin-left;
      padding-left: $label-offset - ($margin-left + $conditional-border-width);
      clear: both;
    }

    .govie-radios__divider {
      width: $govie-small-radios-size;
      margin-bottom: govie-spacing(1);
    }

    // Hover state for small radios.
    //
    // We use a hover state for small radios because the touch target size
    // is so much larger than their visible size, and so we need to provide
    // feedback to the user as to which radio they will select when their
    // cursor is outside of the visible area.
    .govie-radios__item:hover .govie-radios__input:not(:disabled) + .govie-radios__label:before {
      box-shadow: 0 0 0 $govie-hover-width $govie-hover-colour;
    }

    // Because we've overridden the border-shadow provided by the focus state,
    // we need to redefine that too.
    //
    // We use two box shadows, one that restores the original focus state [1]
    // and another that then applies the hover state [2].
    .govie-radios__item:hover .govie-radios__input:focus + .govie-radios__label:before {
      box-shadow:
        0 0 0 $govie-radios-focus-width $govie-focus-colour, // 1
        0 0 0 $govie-hover-width        $govie-hover-colour; // 2
    }

    // For devices that explicitly don't support hover, don't provide a hover
    // state (e.g. on touch devices like iOS).
    //
    // We can't use `@media (hover: hover)` because we wouldn't get the hover
    // state in browsers that don't support `@media (hover)` (like Internet
    // Explorer) – so we have to 'undo' the hover state instead.
    @media (hover: none), (pointer: coarse) {
      .govie-radios__item:hover .govie-radios__input:not(:disabled) + .govie-radios__label:before {
        box-shadow: initial;
      }

      .govie-radios__item:hover .govie-radios__input:focus + .govie-radios__label:before {
        box-shadow: 0 0 0 $govie-radios-focus-width $govie-focus-colour;
      }
    }
  }
}
