<details {%- if params.id %} id="{{params.id}}"{% endif %} class="govie-details {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="govie-details" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %} {{- " open" if params.open }}>
  <summary class="govie-details__summary">
    <span class="govie-details__summary-text">
      {{ params.summaryHtml | safe if params.summaryHtml else params.summaryText }}
    </span>
  </summary>
  <div class="govie-details__text">
    {{ caller() if caller else (params.html | safe if params.html else params.text) }}
  </div>
</details>
