.ogcio-button {
  background-color: var(--ogcio-button--default__background-color);
  border: 0;
  cursor: pointer;
  color: var(--ogcio-button--default__text-color);
  font-size: var(--ogcio-button--default__font-size);
  line-height: var(--ogcio-button--default__font-size);
  padding-top: var(--ogcio-button--default__padding-top);
  padding-bottom: var(--ogcio-button--default__padding-bottom);

  &--primary {
    background-color: var(--ogcio-button--primary__background-color);
    color: var(--ogcio-button--primary__text-color);
  }
}