:root {
    --govie-brand-colour: #1d70b8;
    --govie-text-colour: #0b0c0c;
    --govie-print-text-colour: #000000;
    --govie-secondary-text-colour: #505a5f;
    --govie-focus-colour: #ffdd00;
    --govie-focus-text-colour: #0b0c0c;
    --govie-error-colour: #ae1122;
    --govie-sucesss-colour: #00703c;
    --govie-border-colour: #b1b4b6;
    --govie-input-border-colour: #0b0c0c;
    --govie-hover-colour: #b1b4b6;
    --govie-link-colour: #2c55a2;
    --govie-link-visited-colour: #4c2c92;
    --govie-link-hover-colour: #003078;
    --govie-link-active-colour: #0b0c0c;
    --govie-header-surface-colour: #004d44;
    --govie-header-footer-border-colour: #a39161;
    --govie-footer-surface-colour: #f6f4ef;
    --govie-body-background-colour: #ffffff;
    --govie-button-background-colour: #00703c;
    --govie-button-background-hover-colour: #005a30;
    --govie-button-background-shadow-colour: #002d18;
    --govie-button-text-colour: #ffffff;
  }