// Based on https://github.com/alphagov/govie_publishing_components/blob/v29.11.0/app/assets/stylesheets/govie_publishing_components/components/_step-by-step-nav-header.scss
// Note - this code for prototype purposes only. It is not production code.

.app-step-nav-header {
  @include govie-font(24, $weight: bold);
  @include govie-text-colour;

  position: relative;
  padding: 10px;
  background: govie-colour("light-grey");
  border-bottom: solid 1px govie-colour("blue");
  margin-top: govie-spacing(3);

  @include govie-media-query($from: tablet) {
    padding: govie-spacing(5);
  }
}

.app-step-nav-header__part-of {
  @include govie-font(19, $weight: bold);
  display: block;
}
