/* 
  * Override the Sass variables in order to alloww changing the theme 
  */
:root {
  --govie-print-text-colour: #0b0c0c;
  --govie-focus-colour: #ffbf47;
  --govie-focus-text-colour: #000000;
  --govie-link-colour: #20399d;
  --govie-link-visited-colour: #13225d;
  --govie-link-hover-colour: #13225d;
  --govie-header-surface-colour: #bfdbff;
  --govie-footer-surface-colour: #161f3e;
  --govie-primary-button-background-colour: #07418b;
  --govie-primary-button-hover-background-colour: #ffffff;
}

.govie-footer {
  color: #fff;
}

.govie-footer__link:link,
.govie-footer__link:visited {
  color: #fff;
}

.govie-header__link:link,
.govie-header__link:visited {
  color: #13225d;
}

.govie-button:hover {
  color: var(--govie-primary-button-background-colour);
  border: 2px solid var(--govie-primary-button-background-colour);
}

.govie-button:hover svg path {
  fill: var(--govie-primary-button-background-colour);
}
