// stylelint-disable value-list-max-empty-lines -- allow empty lines in lists
// in this file to allow grouping

////
/// @group settings/colours
////

///
/// This exists only because you cannot easily set a !default variable
/// conditionally (thanks to the way scope works in Sass)
///
/// @access private

$_govie-colour-palette: (
  'red': #d4351c,
  'light-red': #f6d7d2,
  'bright-red': #942514,
  'dark-red': #aa2a16,
  'yellow': #ffdd00,
  'light-yellow': #fff7bf,
  'dark-yellow': #594d00,
  'green': #00703c,
  'light-green': #cce2d8,
  'dark-green': #005a30,
  'blue': #1d70b8,
  'light-blue': #d2e2f1,
  'mid-blue': #2c55a2,
  'bright-blue': #144e81,
  'dark-blue': #003078,
  'black': #0b0c0c,
  'dark-grey': #505a5f,
  'mid-grey': #b1b4b6,
  'light-grey': #f3f2f1,
  'bright-grey': #383f43,
  'background-grey': #eeeeee,
  'white': #ffffff,
  'purple': #4c2c92,
  'light-purple': #dbd5e9,
  'dark-purple': #3d2375,
  'pink': #d53880,
  'light-pink': #f7d7e6,
  'dark-pink': #80224d,
  'orange': #f47738,
  'light-orange': #fcd6c3,
  'dark-orange': #6e3619,
  'brown': #b58840,
  'turquoise': #28a197,
  'dark-turquoise': #10403c,
  'light-turquoise': #bfe3e0,
);

/// Colour palette
///
/// @type Map
///
/// @prop $colour - Representation for the given $colour, where $colour is the
///   friendly name for the colour (e.g. "red": #ff0000);
///
/// @access public

$govie-colours: $_govie-colour-palette !default;

/// Whether the stylesheet being built should enable functionality for the storybook
///
/// @type Boolean
/// @access public

$govie-is-storybook: false !default;
