////
/// @group settings/measurements
////

// =========================================================
// Page layout
// =========================================================

/// Width of main container
///
/// @type Number
/// @access public

$govie-page-width: 960px !default;

/// Map of grid column widths
///
/// @type Map
/// @access public

$govie-grid-widths: (
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  two-thirds: 66.6666%,
  three-quarters: 75%,
  full: 100%,
) !default;

/// Width of gutter between grid columns
///
/// @type Number
/// @access public

$govie-gutter: 30px !default;

/// Width of half the gutter between grid columns
///
/// @type Number
/// @access public

$govie-gutter-half: $govie-gutter / 2;

// =========================================================
// Borders
// =========================================================

/// Standard border width
///
/// @type Number
/// @access public

$govie-border-width: 5px !default;

/// Wide border width
///
/// @type Number
/// @access public

$govie-border-width-wide: 10px !default;

/// Narrow border width
///
/// @type Number
/// @access public

$govie-border-width-narrow: 4px !default;

/// Form control border width
///
/// @type Number
/// @access public

$govie-border-width-form-element: 2px !default;

/// Form group border width when in error state
///
/// @type Number
/// @access public

$govie-border-width-form-group-error: $govie-border-width !default;

/// Border width of focus outline
///
/// @type Number
/// @access public

$govie-focus-width: 3px !default;

/// Hover width for form controls with a hover state
///
/// @type Number
/// @access public

$govie-hover-width: 10px !default;
