@import "../tag/index";

@include govie-exports("govie/component/phase-banner") {
  .govie-phase-banner {
    padding-top: govie-spacing(2);
    padding-bottom: govie-spacing(2);

    border-bottom: 1px solid $govie-border-colour;
  }

  .govie-phase-banner__content {
    @include govie-font($size: 16);
    @include govie-text-colour;

    display: table;
    margin: 0;
  }

  .govie-phase-banner__content__tag {
    margin-right: govie-spacing(2);
  }

  .govie-phase-banner__text {
    display: table-cell;
    vertical-align: middle;
  }
}
