////
/// @group settings/links
////

/// Enable new link styles
///
/// If enabled, the link styles will change. Underlines will:
///
/// - be consistently thinner and a bit further away from the link text
/// - have a clearer hover state, where the underline gets thicker to make the
///   link stand out to users
///
/// You should only enable the new link styles if both:
///
/// - you've made sure your whole service will use the new style consistently
/// - you do not have links in a multi-column CSS layout - there's [a Chromium
///   bug that affects links](https://github.com/alphagov/govie-frontend/issues/2204)
///
/// @type Boolean
/// @access public

$govie-new-link-styles: true !default;

/// Thickness of link underlines
///
/// The default will be either:
///
///  - 1px
///  - 0.0625rem, if it's thicker than 1px because the user has changed the text
///    size in their browser
///
/// Set this variable to `false` to avoid setting a thickness.
///
/// @type Number
/// @access public

$govie-link-underline-thickness: unquote('max(1px, .0625rem)') !default;

/// Offset of link underlines from text baseline
///
/// Set this variable to `false` to avoid setting an offset.
///
/// @type Number
/// @access public

$govie-link-underline-offset: 0.1em !default;

/// Thickness of link underlines in hover state
///
/// The default for each link will be the thickest of the following:
///
///  - 3px
///  - 0.1875rem, if it's thicker than 3px because the user has changed the text
///    size in their browser
///  - 0.12em (relative to the link's text size)
///
/// Set this variable to `false` to avoid setting a thickness.
///
/// @type Number
/// @access public

$govie-link-hover-underline-thickness: unquote(
  'max(3px, .1875rem, .12em)'
) !default;
