////
/// @group components/button
////
///

/// IconButton component text colour
///
/// @type Colour
/// @access public

$govie-icon-button-text-colour: govie-colour('black') !default;

/// IconButton component background colour
///
/// @type Colour
/// @access public

$govie-icon-button-background-colour: transparent !default;

/// IconButton component hover background colour
///
/// @type Colour
/// @access public

$govie-icon-button-hover-background-colour: govie-colour('mid-grey') !default;

@include govie-exports('govie/component/icon-button') {
  $button-shadow-size: $govie-border-width-form-element;

  .govie-icon-button {
    @include govie-font($size: 19, $line-height: 19px);

    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0;

    padding: (govie-spacing(2) - $govie-border-width-form-element)
      govie-spacing(2) + $govie-border-width-form-element
      (govie-spacing(2) - $govie-border-width-form-element); // s1

    border: $govie-border-width-form-element solid transparent;
    border-radius: 4px;
    color: $govie-icon-button-text-colour;
    background-color: $govie-icon-button-background-colour;
    box-shadow: none;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;

    svg path {
      fill: $govie-icon-button-text-colour;
    }

    // Ensure that any global link styles are overridden
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: $govie-icon-button-text-colour;
      text-decoration: none;
      border-color: transparent;
    }

    // Fix unwanted button padding in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:hover {
      background-color: $govie-icon-button-hover-background-colour;
    }

    &:active {
      border-color: transparent;
      background-color: govie-colour('light-grey');

      // Bump the button down so it looks like its being pressed in
      top: $button-shadow-size;

      @include govie-if-ie8 {
        border-bottom-width: 0;
      }
    }

    &:focus {
      border-color: transparent;

      &:hover:active {
        border-color: transparent;
      }

      // When colours are overridden, for example when users have a dark mode,
      // backgrounds and box-shadows disappear, so we need to ensure there's a
      // transparent outline which will be set to a visible colour.
      // Since Internet Explorer 8 does not support box-shadow, we want to force the user-agent outlines
      @include govie-not-ie8 {
        outline: $govie-focus-width solid transparent;
      }
      // Since Internet Explorer does not support `:not()` we set a clearer focus style to match user-agent outlines.
      @include govie-if-ie8 {
        border-color: transparent;
        background-color: $govie-icon-button-background-colour;
      }
      box-shadow: inset 0 0 0 1px transparent;
    }

    &:focus:not(:active):not(:hover) {
      border-color: transparent;
      box-shadow: none;
    }

    // The following adjustments do not work for <input type="button"> as
    // non-container elements cannot include pseudo elements (i.e. ::before).

    // Use a pseudo element to expand the click target area to include the
    // button's shadow as well, in case users try to click it.
    &:before {
      content: '';
      display: block;

      position: absolute;

      top: -$govie-border-width-form-element;
      right: -$govie-border-width-form-element;
      bottom: -($govie-border-width-form-element + $button-shadow-size);
      left: -$govie-border-width-form-element;

      background: transparent;
    }

    // When the button is active it is shifted down by $button-shadow-size to
    // denote a 'pressed' state. If the user happened to click at the very top
    // of the button, their mouse is no longer over the button (because it has
    // 'moved beneath them') and so the click event is not fired.
    //
    // This corrects that by shifting the top of the pseudo element so that it
    // continues to cover the area that the user originally clicked, which means
    // the click event is still fired.
    //
    // 🎉
    &:active:before {
      top: -($govie-border-width-form-element + $button-shadow-size);
    }
  }

  .govie-icon-button--disabled,
  .govie-icon-button[disabled='disabled'],
  .govie-icon-button[disabled] {
    opacity: (0.5);

    &:hover,
    &:active,
    &:focus {
      background-color: $govie-icon-button-background-colour;
      color: $govie-icon-button-text-colour;
      border-color: transparent;
      cursor: default;

      svg path {
        fill: $govie-icon-button-text-colour;
      }
    }

    &:active {
      top: 0;
      border-width: $govie-border-width-form-element;
    }
  }
}
