{% extends "layout.njk" %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/" + legacyQuery
  }) }}
{% endblock %}

{% block content %}
<div class="govie-grid-row">
  <div class="govie-grid-column-two-thirds">
    <h1 class="govie-heading-xl">
      Full page examples
    </h1>

    <p class="govie-body-l">These examples are designed to test the styles, components and patterns from GOV.UK Frontend in a realistic context.</p>

    <p class="govie-body">Your responses to any questions asked in the examples will not be recorded.</p>

    <hr class="govie-section-break govie-section-break--l" />

    {% for example in fullPageExamples %}

      <h2 class="govie-heading-m"><a href="/full-page-examples/{{ example.path }}" class="govie-link">{{ example.name | replace("-", " ") | capitalize }}</a></h2>

      {% if example.scenario %}
      <div class="app-prose-scope">
        {{ markdown(example.scenario) | safe }}
      </div>
      {% endif %}

      {% if example.notes %}
        <p class="govie-body govie-!-font-size-16">{{ example.notes }}</p>
      {% endif %}

      <hr class="govie-section-break govie-section-break--l" />

    {% endfor %}
  </div>
</div>
{% endblock %}
