////
/// @group storybook/variables
////


// This file sets the CSS variables that will be used to fill in 
// the SASS variables that allow the customization of themes
// in the Storybook app.

:root {
    --govie-brand-colour: govie-colour('blue');
    --govie-text-colour: govie-colour('black');
    --govie-print-text-colour: #000000;
    --govie-secondary-text-colour: govie-colour('dark-grey');
    --govie-focus-colour: govie-colour('yellow');
    --govie-focus-text-colour: govie-colour('black');
    --govie-error-colour: govie-colour('dark-red');
    --govie-sucesss-colour: govie-colour('green');
    --govie-border-colour: govie-colour('mid-grey');
    --govie-input-border-colour: govie-colour('black');
    --govie-hover-colour: govie-colour('mid-grey');
    --govie-link-colour: govie-colour('mid-blue');
    --govie-link-visited-colour: govie-colour('purple');
    --govie-link-hover-colour: govie-colour('dark-blue');
    --govie-link-active-colour: govie-colour('black');
    --govie-header-surface-colour: #004d44;
    --govie-header-footer-border-colour: #a39161;
    --govie-footer-surface-colour: #f6f4ef;
    --govie-body-background-colour: govie-colour('white');
    --govie-button-text-colour: govie-colour('white');
    --govie-button-background-colour: govie-colour('green');
    --govie-button-background-hover-colour: #005a30;
    --govie-button-background-shadow-colour: #002d18;
  }