@import "../error-message/index";
@import "../hint/index";
@import "../label/index";

@include govie-exports("govie/component/textarea") {
  .govie-textarea {
    @include govie-font($size: 19, $line-height: 1.25);

    box-sizing: border-box; // should this be global?
    display: block;
    width: 100%;
    min-height: 40px;
    @include govie-responsive-margin(6, "bottom");
    padding: govie-spacing(1);

    resize: vertical;

    border: $govie-border-width-form-element solid $govie-input-border-colour;
    border-radius: 0;

    -webkit-appearance: none;

    &:focus {
      outline: $govie-focus-width solid $govie-focus-colour;
      // Ensure outline appears outside of the element
      outline-offset: 0;
      // Double the border by adding its width again. Use `box-shadow` to do
      // this instead of changing `border-width` (which changes element size) and
      // since `outline` is already used for the yellow focus state.
      box-shadow: inset 0 0 0 $govie-border-width-form-element;

      @include govie-if-ie8 {
        // IE8 doesn't support `box-shadow` so double the border with
        // `border-width`.
        border-width: $govie-border-width-form-element * 2;
      }
    }
  }

  .govie-textarea--error {
    border-color: $govie-error-colour;

    &:focus {
      border-color: $govie-input-border-colour;
    }
  }
}
