@include govie-exports("govie/component/tag") {
  .govie-tag {

    display: inline-block;

    // When a user customises their colours often the background is removed,
    // by adding a outline we ensure that the tag component still keeps it's meaning.
    // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
    outline: 2px solid transparent;
    outline-offset: -2px;

    color: govie-colour("white");
    background-color: govie-colour("blue");
    letter-spacing: 1px;

    text-decoration: none;
    text-transform: uppercase;

    @if $govie-use-legacy-font {
      // Since New Transport sits slightly higher than other common fonts.
      // We use intentionally uneven padding to make it balanced, this can be
      // removed using the version of the font that has a more common vertical spacing.
      @include govie-font($size: 16, $weight: bold, $line-height: 1.25);
      padding-top: 4px;
      padding-right: 8px;
      padding-bottom: 1px;
      padding-left: 8px;
    } @else {
      @include govie-font($size: 16, $weight: bold, $line-height: 1);
      padding-top: 5px;
      padding-right: 8px;
      padding-bottom: 4px;
      padding-left: 8px;
    }
  }

  .govie-tag--grey {
    color: govie-shade(govie-colour("dark-grey", $legacy: "grey-1"), 30);
    background: govie-tint(govie-colour("dark-grey", $legacy: "grey-1"), 90);
  }

  .govie-tag--purple {
    color: govie-shade(govie-colour("purple"), 20);
    background: govie-tint(govie-colour("purple"), 80);
  }

  .govie-tag--turquoise {
    color: govie-shade(govie-colour("turquoise"), 60);
    background: govie-tint(govie-colour("turquoise"), 70);
  }

  .govie-tag--blue {
    color: govie-shade(govie-colour("blue"), 30);
    background: govie-tint(govie-colour("blue"), 80);
  }

  .govie-tag--yellow {
    color: govie-shade(govie-colour("yellow"), 65);
    background: govie-tint(govie-colour("yellow"), 75);
  }

  .govie-tag--orange {
    color: govie-shade(govie-colour("orange"), 55);
    background: govie-tint(govie-colour("orange"), 70);
  }

  .govie-tag--red {
    color: govie-shade(govie-colour("red"), 30);
    background: govie-tint(govie-colour("red"), 80);
  }

  .govie-tag--pink {
    color: govie-shade(govie-colour("pink"), 40);
    background: govie-tint(govie-colour("pink"), 80);
  }

  .govie-tag--green {
    color: govie-shade(govie-colour("green"), 20);
    background: govie-tint(govie-colour("green"), 80);
  }
}
