@include govie-exports('govie/component/tooltip') {
  .govie-tooltip {
    display: none;
  }

  .govie-tooltip--container {
    opacity: 0;
    text-align: center;
    color: govie-colour('white');
    background: govie-colour('black');
    position: absolute;
    z-index: 100;
    padding: 8px 16px;
    pointer-events: none;
    border-radius: 8px;
    @include govie-font($size: 16, $line-height: 20px);

    &.top {
      margin-top: 20px;
    }

    &.show {
      opacity: 1;
      margin-top: 10px;
      pointer-events: all;

      &.top {
        margin-top: 10px;
      }
    }

    &:after {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid govie-colour('black');
      content: '';
      position: absolute;
      left: 50%;
      bottom: -8px;
      margin-left: -10px;
    }

    &.top:after {
      border-top-color: transparent;
      border-bottom: 10px solid govie-colour('black');
      top: -20px;
      bottom: auto;
    }

    &.left:after {
      left: 10px;
      margin: 0;
    }

    &.right:after {
      right: 10px;
      left: auto;
      margin: 0;
    }
  }

  [data-module="govie-tooltip"] {
    display: inline-block;
    height: fit-content;
    width: fit-content;
}
}
