@include govie-exports("govie/component/skip-link") {
  .govie-skip-link {
    @include govie-visually-hidden-focusable;
    @include govie-typography-common;
    @include govie-link-decoration;
    @include govie-link-style-text;
    @include govie-typography-responsive($size: 16);

    display: block;
    padding: govie-spacing(2) govie-spacing(3);

    // Respect 'display cutout' safe area (avoids notches and rounded corners)
    @supports (padding: unquote("max(calc(0px))")) {
      $padding-safe-area-right: calc(#{govie-spacing(3)} + env(safe-area-inset-right));
      $padding-safe-area-left: calc(#{govie-spacing(3)} + env(safe-area-inset-left));

      // Use max() to pick largest padding, default or with safe area
      // Escaped due to Sass max() vs. CSS native max()
      padding-right: unquote("max(#{govie-spacing(3)}, #{$padding-safe-area-right})");
      padding-left: unquote("max(#{govie-spacing(3)}, #{$padding-safe-area-left})");
    }

    &:focus {
      outline: $govie-focus-width solid $govie-focus-colour;
      outline-offset: 0;
      background-color: $govie-focus-colour;

      // Undo unwanted changes when global styles are enabled
      @if $govie-global-styles {
        box-shadow: none;
      }
    }
  }

  .govie-skip-link-focused-element {
    &:focus {
      // Remove the native visible focus indicator when the element is programmatically focused.
      //
      // We set the focus on the linked element (this is usually the <main> element) when the skip
      // link is activated to improve screen reader announcements. However, we remove the visible
      // focus indicator from the linked element because the user cannot interact with it.
      //
      // A related discussion: https://github.com/w3c/wcag/issues/1001
      outline: none;
    }
  }
}
