////
/// @group helpers/links
////

/// Common link styles
///
/// Provides the typography and focus state, regardless of link style.
///
/// @access public

@mixin govie-link-common {
  @include govie-typography-common;
  @include govie-link-decoration;

  &:hover {
    @include govie-link-hover-decoration;
  }

  &:focus {
    @include govie-focused-text;
  }
}

/// Link decoration
///
/// Provides the text decoration for links, including thickness and underline
/// offset. Use this mixin only if you cannot use the `govie-link-common` mixin.
///
/// @access public
@mixin govie-link-decoration {
  text-decoration: underline;

  @if $govie-new-link-styles {
    @if $govie-link-underline-thickness {
      text-decoration-thickness: $govie-link-underline-thickness;
    }

    @if $govie-link-underline-offset {
      text-underline-offset: $govie-link-underline-offset;
    }
  }
}

/// Link hover decoration
///
/// Provides the text decoration for links in their hover state, for you to use
/// within a `:hover` pseudo-selector. Use this mixin only if you cannot use the
/// `govie-link-common` mixin.
///
/// @access public

@mixin govie-link-hover-decoration {
  @if $govie-new-link-styles and $govie-link-hover-underline-thickness {
    text-decoration-thickness: $govie-link-hover-underline-thickness;
    // Disable ink skipping on underlines on hover. Browsers haven't
    // standardised on this part of the spec yet, so set both properties
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none; // Chromium, Firefox
    -webkit-text-decoration-skip: none;
            text-decoration-skip: none; // Safari
  }
}

/// Default link styles
///
/// Makes links use the default unvisited, visited, hover and active colours.
///
/// If you use this mixin in a component, you must also include the
/// `govie-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .govie-component__link {
///     @include govie-link-common;
///     @include govie-link-style-default;
///   }
///
/// @access public

@mixin govie-link-style-default {
  &:link {
    color: $govie-link-colour;
  }

  &:visited {
    color: $govie-link-visited-colour;
  }

  &:hover {
    color: $govie-link-hover-colour;
  }

  &:active {
    color: $govie-link-active-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $govie-focus-text-colour;
  }
}

/// Error link styles
///
/// Makes links use the error colour. The link will darken if it's active or a
/// user hovers their cursor over it.
///
/// If you use this mixin in a component, you must also include the
/// `govie-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .govie-component__link {
///     @include govie-link-common;
///     @include govie-link-style-error;
///   }
///
/// @access public

@mixin govie-link-style-error {
  &:link,
  &:visited {
    color: $govie-error-colour;
  }

  &:hover {
    // SASS `scale-color` function doesn't work with CSS vars, so won't work on storybook
    @if $govie-is-storybook {
      color: $govie-error-colour;
    } @else {
      color: scale-color($govie-error-colour, $lightness: -30%);
    }
  }

  &:active {
    color: $govie-error-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $govie-focus-text-colour;
  }
}

/// Success link styles
///
/// Makes links use the success colour. The link will darken if it's active or a
/// user hovers their cursor over it.
///
/// If you use this mixin in a component, you must also include the
/// `govie-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .govie-component__link {
///     @include govie-link-common;
///     @include govie-link-style-success;
///   }
///
/// @access public

@mixin govie-link-style-success {
  &:link,
  &:visited {
    color: $govie-success-colour;
  }

  &:hover {
    // SASS `scale-color` function doesn't work with CSS vars, so won't work on storybook
    @if $govie-is-storybook {
      color: $govie-error-colour;
    } @else {
      color: scale-color($govie-success-colour, $lightness: -30%);
    }
  }

  &:active {
    color: $govie-success-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $govie-focus-text-colour;
  }
}

/// Muted link styles
///
/// Makes links use the secondary text colour. The link will darken if it's
/// active or a user hovers their cursor over it.
///
/// If you use this mixin in a component, you must also include the
/// `govie-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .govie-component__link {
///     @include govie-link-common;
///     @include govie-link-style-muted;
///   }
///
/// @access public

@mixin govie-link-style-muted {
  &:link,
  &:visited {
    color: $govie-secondary-text-colour;
  }

  &:hover,
  &:active {
    color: $govie-text-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $govie-focus-text-colour;
  }
}

/// Text link styles
///
/// Makes links use the primary text colour, in all states. Use this mixin for
/// navigation components, such as breadcrumbs or the back link.
///
/// If you use this mixin in a component, you must also include the
/// `govie-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .govie-component__link {
///     @include govie-link-common;
///     @include govie-link-style-text;
///   }
///
/// @access public

@mixin govie-link-style-text {
  &:link,
  &:visited {
    @include govie-text-colour;
  }

  // Force a colour change on hover to work around a bug in Safari
  // https://bugs.webkit.org/show_bug.cgi?id=224483
  &:hover {
    @if type-of($govie-text-colour) == color {
      color: rgba($govie-text-colour, 0.99);
    }
  }

  &:active,
  &:focus {
    @include govie-text-colour;
  }
}

/// Inverse link styles
///
/// Makes links white, in all states. Use this mixin if you're displaying links
/// against a dark background.
///
/// If you use this mixin in a component, you must also include the
/// `govie-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .govie-component__link {
///     @include govie-link-common;
///     @include govie-link-style-inverse;
///   }
///
/// @access public

@mixin govie-link-style-inverse {
  &:link,
  &:visited {
    color: govie-colour('white');
  }

  // Force a colour change on hover to work around a bug in Safari
  // https://bugs.webkit.org/show_bug.cgi?id=224483
  &:hover,
  &:active {
    color: rgba(govie-colour('white'), 0.99);
  }

  &:focus {
    color: $govie-focus-text-colour;
  }
}

/// Default link styles, without a visited state
///
/// Makes links use the default unvisited, hover and active colours, with no
/// distinct visited state.
///
/// Use this mixin when it's not helpful to distinguish between visited and
/// non-visited links. For example, when you link to pages with
/// frequently-changing content, such as the dashboard for an admin interface.
///
/// If you use this mixin in a component, you must also include the
/// `govie-link-common` mixin to get the correct focus and hover states.
///
/// @example scss
///   .govie-component__link {
///     @include govie-link-common;
///     @include govie-link-style-no-visited-state;
///   }
///
/// @access public

@mixin govie-link-style-no-visited-state {
  &:link {
    color: $govie-link-colour;
  }

  &:visited {
    color: $govie-link-colour;
  }

  &:hover {
    color: $govie-link-hover-colour;
  }

  &:active {
    color: $govie-link-active-colour;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $govie-focus-text-colour;
  }
}

/// Remove underline from links
///
/// Remove underlines from links unless the link is active or a user hovers
/// their cursor over it. This has no effect in Internet Explorer 8 (IE8),
/// because IE8 does not support `:not`.
///
/// @example scss
///   .govie-component__link {
///     @include govie-link-common;
///     @include govie-link-style-default;
///     @include govie-link-style-no-underline;
///   }
///
/// @access public

@mixin govie-link-style-no-underline {
  &:not(:hover):not(:active) {
    text-decoration: none;
  }
}

/// Include link destination when printing the page
///
/// If the user prints the page, add the destination URL after the link text, if
/// the URL starts with `/`, `http://` or `https://`.
///
/// @access public

@mixin govie-link-print-friendly {
  @include govie-media-query($media-type: print) {
    &[href^="/"],
    &[href^="http://"],
    &[href^="https://"]
    {
      &:after {
        content: ' (' attr(href) ')';
        font-size: 90%;

        // Because the URLs may be very long, ensure that they may be broken
        // at arbitrary points if there are no otherwise acceptable break
        // points in the line
        word-wrap: break-word;
      }
    }
  }
}
