{
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "ignorePatterns": ["packages/*/dist/**/*", "package.json", "babel.config.json"]
}