---
name: Campaign page
scenario: >-
  You want to know the latest updates on the coronavirus pandemic.
  This is an example of a complex campaign page.

notes: >-
  Based on https://www.gov.uk/coronavirus
---

{% extends "full-page-example.njk" %}

{% from "header/macro.njk" import govukHeader %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "accordion/macro.njk" import govukAccordion %}
{% from "footer/macro.njk" import govukFooter %}

{% set pageTitle = "Coronavirus (COVID‑19)" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/public/full-page-examples/campaign-page.css">
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    classes: "app-header--campaign"
  }) }}
{% endblock %}

{% block main %}
  <div class="app-covid-banner-top">
    <div class="govie-width-container">
      <div class="govie-grid-row">
        <div class="govie-grid-column-two-thirds">
          {{ govukBreadcrumbs({
              items: [
                  {
                      text: "Home",
                      href: "#"
                  }
              ]
          }) }}
          <h1 class="govie-heading-xl govie-!-margin-bottom-5">{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="app-covid-banner-bottom">
    <div class="govie-width-container">
      <div class="govie-grid-row app-covid-banner-bottom">
        <div class="govie-grid-column-two-thirds">
          <h2 class="govie-heading-m">National lockdown: stay at home</h2>
          <p class="govie-body">Coronavirus (COVID‑19) is spreading fast.</p>
          <p class="govie-body">Do not leave your home unless necessary.</p>
          <p class="govie-body">1 in 3 people who have the virus have no symptoms, so you could be spreading it without knowing it.</p>
          <a class="govie-link govie-link--inverse app-cta-link" href="">Find out what the rules are</a>
        </div>
      </div>
    </div>
  </div>

  <div class="govie-width-container">
    <div class="govie-grid-row">
      <div class="govie-grid-column-one-third">
        <div class="app-nhs-box">
          <h2 class="govie-heading-m">If you have any coronavirus symptoms:</h2>
          <ul class="govie-list govie-list--bullet">
            <li>a high temperature</li>
            <li>a new, continuous cough</li>
            <li>a loss of, or change to, your sense of smell or taste</li>
          </ul>
          <p class="govie-body govie-!-font-weight-bold"><a class="govie-link" href="#">Get a test</a> and stay at home</p>
        </div>
        <div class="app-danger-box">
          <h2 class="govie-heading-m">Find out what support you can get</h2>
          <p class="govie-body">For example, if you’re out of work, need to get food, or want to take care of your mental health.</p>
          <p class="govie-body govie-!-font-weight-bold"><a class="govie-link govie-link--inverse" href="#">Find support</a></p>
        </div>
      </div>
      <div class="govie-grid-column-two-thirds">
        <section class="govie-!-margin-bottom-8">
          <h2 class="govie-heading-m">Recent and upcoming changes</h2>
          <h3 class="govie-heading-s">27 January</h3>
          <p class="govie-body">The Prime Minister has announced that <a class="govie-link" href="#">it’ll not be possible to resume face-to-face learning</a> for the majority of pupils and students until 8 March at the earliest.</p>
          <p class="govie-body">The Prime Minister has also announced <a class="govie-link" href="#">further measures at the border</a>, including the strengthening of requirements for some arrivals through hotel isolation. We’ll set out more details in due course.</p>
          <h3 class="govie-heading-s">5 January</h3>
          <p class="govie-body"><a class="govie-link" href="#">National lockdown rules apply in England</a>. Stay at home. Find out what the rules are in <a class="govie-link" href="#">Scotland</a>, <a class="govie-link" href="#">Wales</a> and <a class="govie-link" href="#">Northern Ireland</a>.</p>
          <p class="govie-body"><a class="govie-link" href="#">Shielding has resumed in England</a>. If you’re shielding, do not attend work, school, college or university. You can get <a class="govie-link" href="#">support if you’re clinically extremely vulnerable</a>, for example priority access to supermarket deliveries.</p>
        </section>
        <section class="app-section">
          <h2 class="govie-heading-m">Announcements</h2>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">Schools and colleges will not return to full face-to-face education after February half-term</a></h3>
          <p class="govie-body">Published 27 January 2021</p>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">New rules for people travelling in to and out of the UK</a></h3>
          <p class="govie-body">Published 27 January 2021</p>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">New hard-hitting national TV ad urges the nation to stay at home</a></h3>
          <p class="govie-body">Published 27 January 2021</p>
          <p class="govie-body"><a class="govie-link" href="#">See all announcements</a></p>
        </section>
        <section class="app-section">
        {{ govukAccordion({
          id: "accordion-default",
          items: [
            {
              heading: {
                text: "Staying safe"
              },
              expanded: true,
              content: {
                html: "<p class='govie-body'>This is the content for Staying for the web.</p>"
              }
            },
            {
              heading: {
                text: "International travel"
              },
              content: {
                html: "<p class='govie-body'>This is the content for Writing well for specialists.</p>"
              }
            },
              {
              heading: {
                text: "Vaccination"
              },
              content: {
                html: "<ul class='govie-list govie-list--bullet'><li>Example item 2</li></ul>"
              }
            },
              {
              heading: {
                text: "Self-employment and businesses"
              },
              content: {
                html: "<p class='govie-body'>This is the content for How people read.</p>"
              }
            }
          ]
        }) }}
        </section>
        <section class="app-section govie-!-margin-bottom-8">
          <h2 class="govie-heading-m">Announcements</h2>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">Daily summary of coronavirus testing, cases and vaccinatons</a></h3>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">All data and analysis on coronavirus</a></h3>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">Coronavirus cases by local authority</a></h3>
        </section>

        {{ govukAccordion({
          id: "accordion-summaries",
          items: [
            {
              heading: {
                text: "Meeting accessibility requirements"
              },
              summary: {
                text: "Getting an audit, understanding WCAG 2.1, preparing for assessment"
              },
              content: {
                html: "<ul class='govie-list'><li><a class='govie-link' href='#'>Making your service accessible: an introduction</a></li><li><a class='govie-link' href='#'>Understanding WCAG 2.1</a></li><li><a class='govie-link' href='#'>Getting an accessibility audit</a></li><li><a class='govie-link' href='#'>Testing for accessibility</a></li><li><a class='govie-link' href='#'>Publishing information about your service's accessibility</a></li></ul>"
              }
            },
            {
              heading: {
                text: "Providing assisted digital support"
              },
              summary: {
                html: "<span class='govie-!-font-weight-regular'>Helping people who don't have the skills or access to use a service.</span>"
              },
              content: {
                html: "<ul class='govie-list'><li><a class='govie-link' href='#'>Making your service accessible: an introduction</a></li><li><a class='govie-link' href='#'>Understanding WCAG 2.1</a></li><li><a class='govie-link' href='#'>Getting an accessibility audit</a></li><li><a class='govie-link' href='#'>Testing for accessibility</a></li><li><a class='govie-link' href='#'>Publishing information about your service's accessibility</a></li></ul>"
              }
            },
              {
              heading: {
                text: "Managing user support"
              },
              summary: {
                text: "Estimating demand, setting target levels, measuring support performance"
              },
              content: {
                html: "<ul class='govie-list'><li><a class='govie-link' href='#'>Making your service accessible: an introduction</a></li><li><a class='govie-link' href='#'>Understanding WCAG 2.1</a></li><li><a class='govie-link' href='#'>Getting an accessibility audit</a></li><li><a class='govie-link' href='#'>Testing for accessibility</a></li><li><a class='govie-link' href='#'>Publishing information about your service's accessibility</a></li></ul>"
              }
            }
          ]
        }) }}

        <section class="app-section govie-!-margin-bottom-8">
          <h2 class="govie-heading-m">All coronavirus information on GOV.UK</h2>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">Guidance</a></h3>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">News</a></h3>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">Legislation (legislation.gov.uk)</a></h3>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">Press conferences (YouTube)</a></h3>
          <h3 class="govie-heading-s govie-!-margin-bottom-1"><a class="govie-link" href="#">Press conference statements</a></h3>
        </section>

        {{ govukAccordion({
          id: "accordion-summaries-short",
          items: [
            {
              heading: {
                text: "Accessibility requirements"
              },
              summary: {
                text: "Assessments"
              },
              content: {
                html: "<ul class='govie-list'><li><a class='govie-link' href='#'>Making your service accessible: an introduction</a></li><li><a class='govie-link' href='#'>Understanding WCAG 2.1</a></li><li><a class='govie-link' href='#'>Getting an accessibility audit</a></li><li><a class='govie-link' href='#'>Testing for accessibility</a></li><li><a class='govie-link' href='#'>Publishing information about your service's accessibility</a></li></ul>"
              }
            },
            {
              heading: {
                text: "User support"
              },
              summary: {
                text: "Estimating demand"
              },
              content: {
                html: "<ul class='govie-list'><li><a class='govie-link' href='#'>Making your service accessible: an introduction</a></li><li><a class='govie-link' href='#'>Understanding WCAG 2.1</a></li><li><a class='govie-link' href='#'>Getting an accessibility audit</a></li><li><a class='govie-link' href='#'>Testing for accessibility</a></li><li><a class='govie-link' href='#'>Publishing information about your service's accessibility</a></li></ul>"
              }
            }
          ]
        }) }}

        <div class="app-updates">
          <h3 class="govie-heading-s">Stay up to date with GOV.UK</h3>
          <p class="govie-body"><a class="govie-link" href="#">Sign up to get emails when we change any coronavirus information on the GOV.UK website</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}


  {{ govukFooter({
    navigation: [
      {
        title: "Coronavirus (COVID-19)",
        width: "two-thirds",
        columns: 2,
        items: [
          {
            href: "#",
            text: "Coronavirus (COVID-19): guidance and support"
          },
          {
            href: "#",
            text: "Another link"
          },
          {
            href: "#",
            text: "Another link"
          },
          {
            href: "#4",
            text: "Another link"
          }
        ]
      },
      {
        title: "Services and Information",
        width: "two-thirds",
        columns: 2,
        items: [
          {
            href: "#",
            text: "Benefits"
          },
          {
            href: "#",
            text: "Births, deaths and marriages"
          },
          {
            href: "#",
            text: "Business and self-employed"
          },
          {
            href: "#",
            text: "Childcare and parenting"
          },
          {
            href: "#",
            text: "Citizenship and living in the UK"
          },
          {
            href: "#",
            text: "Crime, justice and the law"
          },
          {
            href: "#",
            text: "Disabled people"
          },
          {
            href: "#",
            text: "Driving and transport"
          },
          {
            href: "#",
            text: "Education and learning"
          },
          {
            href: "#",
            text: "Employing people"
          },
          {
            href: "#",
            text: "Environment and countryside"
          },
          {
            href: "#",
            text: "Housing and local services"
          },
          {
            href: "#",
            text: "Money and tax"
          },
          {
            href: "#",
            text: "Passports and living abroad"
          },
          {
            href: "#",
            text: "Visas and immigration"
          },
          {
            href: "#",
            text: "Working, jobs and pensions"
          }
        ]
      },
      {
        title: "Departments and policy",
        width: "one-third",
        items: [
          {
            href: "#",
            text: "How government works"
          },
          {
            href: "#",
            text: "Departments"
          },
          {
            href: "#",
            text: "Worldwide"
          },
          {
            href: "#",
            text: "Services"
          },
          {
            href: "#",
            text: "Guidance and regulation"
          },
          {
            href: "#",
            text: "News and communications"
          },
          {
            href: "#",
            text: "Research and statistics"
          },
          {
            href: "#",
            text: "Policy papers and consultations"
          },
          {
            href: "#",
            text: "Transparency and freedom of information releases"
          }
        ]
      }
    ]
  }) }}
{% endblock %}
