@import "../../../../src/govie/base";
$govie-new-link-styles: true;
@import "../../../../src/govie/core/all";

.app-header--campaign {
  padding-bottom: govie-spacing(2);
  border-bottom: $govie-border-width-wide solid #fff500;
}

.app-header--campaign .govie-header__container {
  border-bottom: none;
}

.app-covid-banner-top {
  padding-bottom: govie-spacing(4);
  background-color: govie-colour("black");
}

.app-covid-banner-top .govie-heading-xl {
  padding-top: govie-spacing(2);
  color: govie-colour("white");
}

.app-covid-banner-bottom {
  margin-bottom: govie-spacing(6);
  padding: govie-spacing(3) 0 govie-spacing(1);
  background-color: #272828;
}

.app-covid-banner-bottom .govie-body,
.app-covid-banner-bottom .govie-heading-m {
  color: govie-colour("white");
}

.app-covid-banner-top .govie-breadcrumbs__link {
  @include govie-link-style-inverse;
}

.app-cta-link {
  @include govie-font($size: 19, $weight: bold);
}

.app-section {
  padding: govie-spacing(3) 0;
  border-top: 2px solid govie-colour("black");
}

.app-updates {
  margin-bottom: govie-spacing(8);
  padding: govie-spacing(4) govie-spacing(4) govie-spacing(2);
  border: 1px solid $govie-border-colour;
  background-color: govie-colour("light-grey");
}

.app-nhs-box {
  margin-bottom: govie-spacing(4);
  padding: govie-spacing(4);
  border: $govie-border-width solid govie-colour("black");
}

.app-danger-box {
  padding: govie-spacing(6) govie-spacing(5);
  border-left: solid #fff500;
  border-width: 0 0 0 10px;
  border-image: repeating-linear-gradient(25deg, transparent 0, #fff500 1px, #fff500 10px, transparent 11px, transparent 20px) 25;
  color: govie-colour("white");
  background-color: #272828;
}

.app-danger-box .govie-body,
.app-danger-box .govie-heading-m {
  color: govie-colour("white");
}
